<!doctype html>
<html>
<head>
    <title>Barista App</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="public/style1.css">
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1 class="orange">Talk that talk</h1>
        <br>
        <img src="https://az616578.vo.msecnd.net/files/2016/05/17/63599051838885103789119084_1444014275-106dee95104209bb9436d6df2b6d5145.jpeg">
        <form method="POST">
          <input type="text" name="cust" value="" placeholder="Name">
          <input type="text" name="order" value="" placeholder="Messege">
          <input type="submit" name="" value="SUBMIT">
        </form>

        <p class="orange">Login or Signup:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>

    </div>

</div>
</body>
</html>
